<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <meta name="_csrf" content="73933202-4819-4588-baa4-aa94b3e51a97"/>
    
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script src="/js/slick.min.js" type="text/javascript"></script>
    <script src="/js/swiper.min.js" type="text/javascript"></script>
    <script src="/js/aos.js" type="text/javascript"></script>
    <script src="/js/loadingoverlay.min.js" type="text/javascript"></script>
    <script src="/js/login.js?v1.4" type="text/javascript"></script>
    <script src="/js/sha256.js" type="text/javascript"></script>

    <!-- BOOTSTRAP -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=vietnamese"
            rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all"
          href="/webjars/bootstrap/4.3.1/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/webjars/bootstrap/4.3.1/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet"
          href="/css/font-awesome-4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" media="all"
          href="/css/slick.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/aos.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/hover.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="/scss/style2.css?v=1.1.6">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/custom.css">
    <style>
        .btn-xem-chi-tiet {
            background-color: #EEA320;
            color: #6E361A;
            width: 120px;
        }

        .btn-dong {
            background-color: #EEEEEE;
            color: #212121;
            width: 120px;
        }

        .modal-content {
            border: none; /* Remove the border */
            box-shadow: none; /* Remove the box-shadow */
        }

        .buttonbox {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }

        .spinner-button {
            border: 2px solid #000;
            display: inline-block;
            padding: 8px 20px 9px;
            font-size: 12px;
            color: #000;
            background-color: transparent
        }

        .btn-primary:disabled {
            color: #fff;
            background-color: #000;
            border-color: #000
        }

        .spinner-button:hover {
            background-color: #000;
            border: 2px solid #000;
            color: #fff
        }

        .spinner-button i {
            color: #fff
        }

        .spinner-button:hover i {
            color: #fff
        }

        .fa {
            color: #fff
        }

        .fa:hover {
            color: #fff
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        #exampleModalCenter .modal-header {
            border: none;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
        }

        #exampleModalCenter .modal-footer {
            border: none;
        }
    </style>
</head>
<body >
<p id="statusPopup" style="display: none">0</p>
<p id="buttonPopup" style="display: none"></p>
<!--
<header class="header">
    <div class="header__content container">
        <div class="header__content__back" > <img src="../images/png/back_arrow.png" alt=""> <a onclick="history.back()" > Quay lại </a>  </div>
        <div class="header__content__logo">
            <img src="/images/png/logo_lienviet24h.png" alt="">
        </div>

    </div>
</header>
-->
<div class="main2">
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>
    <main>
        <div class="banner container">

            <div class="_login__back" > <img src="../images/png/back_arrow.png" alt=""> <a onclick="history.back()" > Quay lại </a>  </div>
            <form id="login-form" method="post" action="login"><input type="hidden" name="_csrf" value="73933202-4819-4588-baa4-aa94b3e51a97"/>

                <div class="banner__login">

                    <div class="__logo_login">
                        <img src="/images/png/logo_lienviet24h.png" alt="">
                    </div>

                    <div class="__content align-center">
                        <div id="avatar" class="__avatar">
                            <p>
                                <label id="pleaseLogin">Đăng nhập</label> <br/>
                                <label id="pleaseLogin_2">Ngân hàng số LPBank</label>
                                <label  id="pleaseLogin_3">Dành cho khách hàng cá nhân</label>
                            </p>




                        </div>
                        <div class="__form" style="display: inline-block">
                            <input type="hidden" id="hash_password" name="hash_password"/>
                            <div class="form-group">
                                <input id="username" placeholder="Tên đăng nhập"
                                       name="username" type="number"
                                       maxlength="10" size="10"/>
                            </div>
                            <div class="form-group">
                                <input id="password" placeholder="Mật khẩu"
                                       type="password" name="password"
                                       autocomplete="off"/>
                                <label id="showPassword_all"  class="--showPassword" for=""></label>
                                <!--<label  class="--hidePassword" for=""></label>-->
                            </div>
                            <div class="form-group --otp" id="captchaDiv">
                                <input type="text" name="captcha"
                                       placeholder="Nhập mã" autocomplete="false"> <input
                                    type="text" disabled
                                    style="background-image: url('/captcha');" id="captcha">
                                <a class="resend"></a>
                            </div>
                            
                            <button type="button" id="login"
                                    class="spinner-button btn btn-primary mb-2"
                                    onclick="submitLogin()">Đăng nhập</button>
                        </div>
                        <div class="__register">
                            <p>
                              <!--  <a href="/register/" th:text="#{login.register}"></a>-->
                            </p>
                            <p>
                                <a href="/forgot/">Quên mật khẩu?</a>
                            </p>

                        </div>

                    </div>
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                    <div class="banner__login_qrcode">


                        <div class="banner__login_qrcode_img">
                            <img src="../images/png/bank_qrcode.png" alt="">
                        </div>
                        <div class="banner__login_qrcode_title"> Quét mã QR <br/>để tải Ứng dụng LPBank</div>
                        <div class="banner__login_qrcode_link">

                            <a href="https://apps.apple.com/us/app/li%C3%AAn-vi%E1%BB%87t-24h/id1488794748" target="_blank">
                                <img src="../images/png/appstore.png" alt="">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=vn.com.lpb.lienviet24h" target="_blank">
                                <img src="../images/png/googplay.png" alt="">
                            </a>

                        </div>


                    </div>
                </div>
            </form>

        </div>
    </main>

    <footer class="__footer_login">
        <div class="__footer_content" >
            <div>
                Bản quyền 2024 - Ngân hàng TMCP Lộc Phát Việt Nam.<br/>
                Bảo lưu mọi quyền lợi
            </div>
            <div>
                Tổng đài CSKH 24/7 <br/>
                (1800 57 77 58)
            </div>
            <div>
                Tài liệu hướng dẫn <br>
                <a href="https://lpbank.com.vn/khach-hang-ca-nhan/" target="_blank"> Cá nhân</a>  &  <a href="https://lpbank.com.vn/wp-content/uploads/2019/08/HDSD_IB_KHDN_2024.pdf" target="_blank"> Doanh nghiệp</a>

            </div>
            <div>
                <a href="https://lpbank.com.vn/mang-luoi/" target="_blank" >  Điểm giao dịch LPBank</a>
            </div>

        </div>
    </footer>

    <!--    <footer th:replace="fragments/layout/footer :: footer">-->
    <!--    </footer>-->
</div>
<!-- <div class="cookie-popup-wrap" id="myCookie">
    <div class="cookie-popup">
        <p id="notifiBrowser" style="float: left">
            Website sử dụng cookies để tăng trải nghiệm người dùng một cách tốt
            nhất. Hãy cho phép cookies trên trình duyệt để trải nghiệm của bạn
            không bị gián đoạn. <b><a style="color: #ee7523"
                href="/guideSetting/" target="_blank">Click tại đây để biết
                    thêm về cài đặt</a><b>
        </p>
        <a href="#" style="color: white; margin-left: 10px"
            onclick="closeTopup()"><b>x</b></a>
    </div>
    End .cookie-popup
</div> -->


<script type="text/javascript">
    $(document).ready(function () {


        var passwordField = document.querySelector('#password');
        var showPassword = document.getElementById("showPassword_all");
       // var hidePassword = document.querySelector('.--hidePassword');
        $('#pleaseLogin').text("Đăng nhập");

        showPassword.onclick = function(){
            var testClass = showPassword.className;
            switch (testClass) {
                case "--showPassword":
                    passwordField.setAttribute("type", "text");
                    showPassword.classList.remove("--showPassword")
                    showPassword.classList.add("--hidePassword");
                    break;
                case "--hidePassword":
                    passwordField.setAttribute("type", "password");
                    showPassword.classList.remove("--hidePassword")
                    showPassword.classList.add("--showPassword");
                default:
                    passwordField.setAttribute("type", "password");
                    showPassword.classList.remove("--hidePassword")
                    showPassword.addClass().classList.add("--showPassword");
            }

        };


        getCaptcha();
        function getCaptcha() {
            $.ajax({
                url: '/captcha',
                type: 'get',
                dataType: 'html',
                async: false,
                crossDomain: 'true',
                success: function (data, status) {
                    // alert(1);
                    $('#captcha').css('background-image', 'url("' + 'data:image/png;base64,' + data + '")');
                }
            });
        }

        $(".resend").click(function () {
            getCaptcha();
        })
    });
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center w-100">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle"><p class="text-center"></p>
                    </h5>
                </div>
            </div>
            <div class="modal-body">
                <p class="text-center"></p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn mx-2 btn-dong" data-dismiss="modal">Đóng</button>
                    <a href="" id="showDetailsPopup"
                       target="_blank">
                        <button type="button" class="btn mx-2 btn-xem-chi-tiet"><p class="text-center"></p></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>